.card {
    border-radius: 15px; 
}

.card .card-action:last-child{
    border-radius: 15px;
}

.card .card-image img{
    border-radius: 15px;
    max-height: 500px;
    min-height: 500px;
    object-fit: cover;
}

.card .card-image .card-title{
    background: rgba($color: #000000, $alpha: 0.8);
    min-width: 100%;
    font-weight: 400;
}

.btn{
    border-radius: 8px;
}

.card .card-content p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
