<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Funciones filter()</title>
    <link rel="stylesheet" type="text/css" href="/views/styles/style.css">
</head>
<body>
    <div class="number_lines">
        <ol>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ol>

    </div>
    <div class="code">
        <h3>//Funciones y metodos de los array</h3>
        <br><br>
        <span class="comment">
            //The filter() method creates an array filled with all array elements that pass a test (provided as a function).
        </span>
        
        <ul>
            <li><a href="/function/filter">filter<span class="parentesis">()</span></a></li>
        </ul>
    </div>    
</body>
</html>