<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Funciones y Metodos de los Arrays</title>
</head>
<body>
    <h1>Funciones y metodos de los array</h1>
    <ul>
        <li><a href="/function/filter">filter()</a></li>
        <li><a href="/function/foreach">forEach()</a></li>
        <li><a href="/function/splice">splice()</a></li>
        <li><a href="/function/pop">pop()</a></li>
        <li><a href="/function/sort">sort()</a></li>
        <li><a href="/function/reduce">reduce()</a></li>
        <li><a href="/function/find">find()</a></li>
        <li><a href="/function/map">map()</a></li>
        <li><a href="/function/push">push</a></li>
    </ul>
</body>
</html>