<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Funciones y Metodos de los Arrays</title>
    <link rel="stylesheet" type="text/css" href="/views/styles/style.css">
</head>
<body>
    <div class="number_lines">
        <ol>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ol>

    </div>
    <div class="code">
        <h3>//Funciones y metodos de los array</h3>
        <ul>
            <li><a href="/function/filter">filter<span class="operator">()</span></a></li>
            <li><a href="/function/foreach">forEach<span class="operator">()</span></a></li>
            <li><a href="/function/splice">splice<span class="operator">()</span></a></li>
            <li><a href="/function/pop">pop<span class="operator">()</span></a></li>
            <li><a href="/function/sort">sort<span class="operator">()</span></a></li>
            <li><a href="/function/reduce">reduce<span class="operator">()</span></a></li>
            <li><a href="/function/find">find<span class="operator">()</span></a></li>
            <li><a href="/function/map">map<span class="operator">()</span></a></li>
            <li><a href="/function/push">push<span class="operator">()</span></a></li>
        </ul>
    </div>    
</body>
</html>