// Color
@import "~materialize-css/sass/materialize";
// @import "~materialize-css/sass/components/color-classes";

// // Variables;
// @import "~materialize-css/sass/components/variables";

// // Reset
// @import "~materialize-css/sass/components/normalize";

// // components
// @import "~materialize-css/sass/components/_global";
// @import "~materialize-css/sass/components/_grid";

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

